aiohttp==3.7.4.post0
ansi==0.2.0
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
colorlog==6.6.0
cryptography==3.4.6
daemonize==2.5.0
deepmerge==0.2.1
dulwich==0.20.20
errbot==6.1.9
Flask==1.1.2
idna==2.10
importlib-metadata==3.7.3
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
Markdown==3.3.4
MarkupSafe==1.1.1
mock==4.0.3
multidict==5.1.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycparser==2.20
Pygments==2.8.1
pygments-markdown-lexer==0.1.0.dev39
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==6.2.2
requests==2.25.1
six==1.15.0
slackclient==1.3.2
soupsieve==2.2
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.5
waitress==2.0.0
WebOb==1.8.7
websocket-client==0.54.0
webTest==3.0.0
Werkzeug==1.0.1
yarl==1.6.3
zipp==3.4.1
